@media screen and (min-width: 768px) {

	.hero-static {
		background-color: red;
	}

	.wrapper {
  		padding: 0 20px; }
}

@media only screen and (max-width: 700px) {
 }


body {
	font: 'Karla', sans-serif;
	font-weight: 200;
}

h1 {
	font-family: 'Archivo Black', sans-serif;
	font-size: 4.0rem;
	/*letter-spacing: -0.05em;*/
}

h2 {
	font-family: 'Karla', sans-serif;
	font-size: 1.3rem;
}

h3 {
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 1.2rem;
	font-weight: 200;

}

header {
	padding-bottom: 120px;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;
	overflow: hidden;
	max-height: 750px;
}

.wrapper {
	zoom: 1;
	width: 100%;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	padding: 60px;
	position: relative; 
}

.wrapper:before, 
.wrapper:after {
	content: "";
	display: table; }

.wrapper:after {
clear: both; 

}




/*.main-content {
	margin: 0 auto;
	text-align: center;
	padding-bottom: 120px;
}*/


video#bgvid { 
	display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-20%) scale(1);
    background-size: cover; 
}

.hero-static {

}

.hero-text {
	/*text-align: center;*/
	position: absolute;
	top: 120px;
	padding: 150px;
	z-index: 99;
	-webkit-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;
}

.title {
	color: #fff;
}


.large-6 {
	margin-bottom: 45px;
}

.posts-container {
	width: 100%;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	padding: 30px 0;
}

.post {
	margin-bottom: 60px;
	box-sizing: border-box;
	-webkit-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;
}

.post-title small {
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 16px;
	display: block;
	margin-bottom: 15px;
	color: #fff;
}

.post-title {
	font-family: 'Prata', serif;
	line-height: 1.1;
	font-size: 35px;
	color: #fff;
}


.preview-link {
	justify-content: center;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 500px;
	max-height: 920px;
	padding: 200px 20px;
	color: white;
	-webkit-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;
}

.preview-link:hover {
	background-color: rgba(47, 46, 50,.9)!important;
}

.about-section {
	background-color: #f8f8f8;
}	

.about-portrait {
	border-radius: 150px;
}

.about-container {
	padding: 60px 25px 20px 25px;
	
}

.about-container p {
	font-family: 'Prata', serif;
	letter-spacing: .60px;
	font-size: 1.3rem;
}


.social-link {
	text-transform: uppercase;
	letter-spacing: 0.35rem;
	font-size: 0.93rem;
}	

.social-container ul li {
	display: inline-block;
}	

.hamburger__icon {
	position: fixed;
	top: 30px;
	right: 30px;
}

.fat-nav {
	background: rgba(255, 255, 255, 0.8);
}

.fat-nav li, .fat-nav li a {
	color: #222;
	padding: 5px;
}

.hamburger.active 
.hamburger__icon:after, 
.hamburger.active 
.hamburger__icon:before {
    background-color: #222;
}