body {
	font: 'Helvetica Neue', sans-serif;
	font-weight: 200;
	color: #222;
}

h1 {
	font-family: 'Archivo Black', sans-serif;
	font-size: 4.0rem;
	letter-spacing: -0.05em;
}

h3 {
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 1.3rem;
	font-weight: 200;

}

.main-content {
	margin: 0 auto;
	padding-bottom: 120px;
}

#hero {
	position: absolute;
	padding: 150px;
	-webkit-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;
}

#work {
	background-color: #222;
	padding: 200px;
}

.posts {
	width: 100%; 
}


.hamburger__icon {
	position: fixed;
	top: 30px;
	right: 30px;
}

.fat-nav {
	background: rgba(255, 255, 255, 0.8);
}

.fat-nav li, .fat-nav li a {
	color: #222;
	padding: 5px;
}

.hamburger.active 
.hamburger__icon:after, 
.hamburger.active 
.hamburger__icon:before {
    background-color: #222;
}